

<h2>{{'customizations.faq.statement' | t}}</h2>


<p>{{section.settings.faq}}</p>

{% schema %}
    {
        "name":"FAQ",
        "settings":[
            {
                "type":"text",
                "label":"FAQ Info",
                "id":"faq"
            }
        ]
    }
{% endschema %}