<section id="shopify-section-template--15495377289469__1642780005550a42fc" class="shopify-section spaced-section spaced-section--full-width"><link href="//cdn.shopify.com/s/files/1/0613/6060/3389/t/4/assets/section-image-banner.css?v=3116229212470259127" rel="stylesheet" type="text/css" media="all">
<style data-shopify="">#Banner-template--15495377289469__1642780005550a42fc::after {
    opacity: 0.0;
  }</style><div id="Banner-template--15495377289469__1642780005550a42fc" class="banner banner--medium banner--stacked banner--mobile-bottom"><div class="banner__media media banner__media-half">
      <img srcset="//cdn.shopify.com/s/files/1/0613/6060/3389/files/pexels-edward-jenner-4031524_375x.jpg?v=1642025207 375w,//cdn.shopify.com/s/files/1/0613/6060/3389/files/pexels-edward-jenner-4031524_750x.jpg?v=1642025207 750w,//cdn.shopify.com/s/files/1/0613/6060/3389/files/pexels-edward-jenner-4031524_1100x.jpg?v=1642025207 1100w,//cdn.shopify.com/s/files/1/0613/6060/3389/files/pexels-edward-jenner-4031524.jpg?v=1642025207 1280w" sizes="(min-width: 750px) 50vw, 100vw" src="//cdn.shopify.com/s/files/1/0613/6060/3389/files/pexels-edward-jenner-4031524_1500x.jpg?v=1642025207" loading="lazy" alt="" width="1280" height="853.0" class="banner__media-image-half">
    </div><div class="banner__media media banner__media-half">
      <img srcset="//cdn.shopify.com/s/files/1/0613/6060/3389/files/pexels-samer-daboul-2080544_375x.jpg?v=1642023324 375w,//cdn.shopify.com/s/files/1/0613/6060/3389/files/pexels-samer-daboul-2080544_750x.jpg?v=1642023324 750w,//cdn.shopify.com/s/files/1/0613/6060/3389/files/pexels-samer-daboul-2080544_1100x.jpg?v=1642023324 1100w,//cdn.shopify.com/s/files/1/0613/6060/3389/files/pexels-samer-daboul-2080544.jpg?v=1642023324 1280w" sizes="(min-width: 750px) 50vw, 100vw" src="//cdn.shopify.com/s/files/1/0613/6060/3389/files/pexels-samer-daboul-2080544_1500x.jpg?v=1642023324" loading="lazy" alt="" width="1280" height="796.0" class="banner__media-image-half">
    </div><div class="banner__content banner__content--center page-width">
    <div class="banner__box color-background-1"><h2 class="banner__heading h1">
              <span>Image banner</span>
            </h2><div class="banner__text">
              <span>Give customers details about the banner image(s) or content on the template.</span>
            </div><div class="banner__buttons banner__buttons--multiple"><a role="link" aria-disabled="true" class="button button--primary">Button label</a><a role="link" aria-disabled="true" class="button button--primary">Button label</a></div></div>
  </div>
</div>


</section>